{% extends 'templates_student/base.html' %}
{% block title %}Главная страница{% endblock %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block body %}
<h1>Главная</h1>
<p>
    Система электронного журнала: здесь можно найти список студентов,<br>
    список групп и подробную информацию по разделам.
</p>

<a href="{% url 'student:create' %}">+ Создать студента</a>
{% endblock %}
</html>
