{% extends 'templates_student/base.html' %}
{% block title %}Электронный журнал{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block body %}
<h1>Подробная информация о студенте</h1>
<ul>
    {% comment %} {% for student in student_info %} {% endcomment %}
    <li>{{student_info.secondname}} {{student_info.name}} {{student_info.thirdname}}</li>
    {% comment %} {% endfor %} {% endcomment %}
</ul>
{%endblock%}
</html>